<h1>Hey {{username}}!</h1>

<a href="/usermainpage/main">
    <button class="btn btn-secondary" type="button">Back to the main page?</button>
</a>

<a  href="/usermainpage/private">
    <button class="btn btn-secondary" type="button">Check your favorite gif!</button>
</a>
