body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav{
  height: 50px;
  border: 1px solid white;
  border-radius: 12px;
}

nav a {
  color:white;
}

.alert {
  margin-top: 5px;
}
